.game-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/images/fondo-startgame.png");
    background-size: cover;
    background-position: center;
}



#start-button {
    background-color: #4CAF50;
    color: antiquewhite;
    border: 2px solid #4CAF50;
    border-radius: 50px;
    font-size: 40px;
    padding: 10px 20px; 
    transition: background-color 0.3s ease;
}

p {
    font-size: 50px;
}

#game-over {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    background-image: url("/images/game-over.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

#restart-button {
    background-color: #4CAF50;
    color: antiquewhite;
    border: 2px solid #4CAF50;
    border-radius: 50px;
    font-size: 40px;
    padding: 10px 20px; 
    transition: background-color 0.3s ease;

}
